img {
    width: 50px;
}

.verticalImg {
    padding-bottom: 18px;
}

.topFlagDiv {
    display: grid;
    grid-template-columns: repeat(13, 60px);
    grid-template-rows: auto;
    text-align: center;
}

.leftFlagDiv {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(12, auto);
    text-align: center;
}