img {
    width: 60px;
}

.verticalImg {
    margin-bottom: 5px;
}

.horizontalImg {
    margin-right: 5px;
}

.topFlagDiv {
    display: grid;
    grid-template-columns: repeat(13, auto);
    grid-template-rows: auto;
    text-align: center;
}

.leftFlagDiv {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(12, auto);
    text-align: center;
}

.rightFlagDiv {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(12, auto);
    text-align: center;
}

.bottomFlagDiv {
    display: grid;
    grid-template-columns: repeat(13, auto);
    grid-template-rows: auto;
    text-align: center;
}